webapp/DarwinCoreWLTERM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="CT_MetaDesc">
		<xs:sequence>
			<xs:element ref="DateLastModified"/>
			<xs:element ref="GlobalUniqueIdentifier"/>
			<xs:element ref="CatalogNumber"/>
			<xs:element ref="ScientificName"/>
			<xs:element ref="BasisOfRecord"/>
			<xs:element ref="Kingdom"/>
			<xs:element ref="Phylum"/>
			<xs:element ref="Class"/>
			<xs:element ref="Order"/>
			<xs:element ref="Family"/>
			<xs:element ref="KingdomInChinese"/>
			<xs:element ref="PhylumInChinese"/>
			<xs:element ref="ClassInChinese"/>
			<xs:element ref="OrderInChinese"/>
			<xs:element ref="FamilyInChinese"/>
			<xs:element ref="ChineseName"/>
			<xs:element ref="AuthorYearOfScientificName"/>
			<xs:element ref="IdentifiedBy"/>
			<xs:element ref="Collector"/>
			<xs:element ref="CollectorInChinese"/>
			<xs:element ref="EarliestDateCollected"/>
			<xs:element ref="LatestDateCollected"/>
			<xs:element ref="Locality"/>
			<xs:element ref="LocalityInChinese"/>
			<xs:element ref="DecimalLongitude"/>
			<xs:element ref="DecimalLatitude"/>
			<xs:element ref="CoordinateUncertaintyInMeters"/>
			<xs:element ref="MinimumElevationInMeters"/>
			<xs:element ref="MaximumElevationInMeters"/>
			<xs:element ref="MinimumDepthInMeters"/>
			<xs:element ref="MaximumDepthInMeters"/>
			<xs:element ref="IndividualCount"/>
			<xs:element ref="RelatedInformation"/>
			<xs:element ref="ProjectName"/>
			<xs:element ref="ExecutivePeriod"/>
			<xs:element ref="AssociatedAgency"/>
			<xs:element ref="ExecutiveAgency"/>
			<xs:element ref="HostName"/>
			<xs:element ref="HostNameInChinese"/>
			<xs:element ref="HostAddress"/>
			<xs:element ref="E-Mail"/>
			<xs:element ref="Coordination"/>
			<xs:element ref="ExecutiveWay"/>
			<xs:element ref="ProjectSummary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Document">
		<xs:sequence>
			<xs:element ref="MetaDesc"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_ChineseName"/>
	<xs:complexType name="CT_AuthorYearOfScientificName"/>
	<xs:element name="ScientificName" type="xs:string"/>
	<xs:element name="RelatedInformation" type="xs:string"/>
	<xs:element name="ProjectSummary" type="xs:string"/>
	<xs:element name="ProjectName" type="xs:string"/>
	<xs:element name="PhylumInChinese" type="xs:string"/>
	<xs:element name="Phylum" type="xs:string"/>
	<xs:element name="OrderInChinese" type="xs:string"/>
	<xs:element name="Order" type="xs:string"/>
	<xs:element name="MinimumElevationInMeters" type="xs:short"/>
	<xs:element name="MinimumDepthInMeters" type="xs:decimal"/>
	<xs:element name="MetaDesc" type="CT_MetaDesc"/>
	<xs:element name="MaximumElevationInMeters" type="xs:short"/>
	<xs:element name="MaximumDepthInMeters" type="xs:decimal"/>
	<xs:element name="LocalityInChinese" type="xs:string"/>
	<xs:element name="Locality" type="xs:string"/>
	<xs:element name="LatestDateCollected" type="xs:date"/>
	<xs:element name="KingdomInChinese" type="xs:string"/>
	<xs:element name="Kingdom" type="xs:string"/>
	<xs:element name="IndividualCount" type="xs:byte"/>
	<xs:element name="IdentifiedBy" type="xs:string"/>
	<xs:element name="HostNameInChinese" type="xs:string"/>
	<xs:element name="HostName" type="xs:string"/>
	<xs:element name="HostAddress" type="xs:string"/>
	<xs:element name="GlobalUniqueIdentifier" type="xs:string"/>
	<xs:element name="FamilyInChinese" type="xs:string"/>
	<xs:element name="Family" type="xs:string"/>
	<xs:element name="ExecutiveWay" type="xs:string"/>
	<xs:element name="ExecutivePeriod" type="xs:string"/>
	<xs:element name="ExecutiveAgency" type="xs:string"/>
	<xs:element name="EarliestDateCollected" type="xs:date"/>
	<xs:element name="E-Mail" type="xs:string"/>
	<xs:element name="Document" type="CT_Document"/>
	<xs:element name="DecimalLongitude" type="xs:decimal"/>
	<xs:element name="DecimalLatitude" type="xs:decimal"/>
	<xs:element name="DateLastModified" type="xs:date"/>
	<xs:element name="Coordination" type="xs:string"/>
	<xs:element name="CoordinateUncertaintyInMeters" type="xs:byte"/>
	<xs:element name="CollectorInChinese" type="xs:string"/>
	<xs:element name="Collector" type="xs:string"/>
	<xs:element name="ClassInChinese" type="xs:string"/>
	<xs:element name="Class" type="xs:string"/>
	<xs:element name="ChineseName" type="CT_ChineseName"/>
	<xs:element name="CatalogNumber" type="xs:short"/>
	<xs:element name="BasisOfRecord" type="xs:string"/>
	<xs:element name="AuthorYearOfScientificName" type="CT_AuthorYearOfScientificName"/>
	<xs:element name="AssociatedAgency" type="xs:string"/>
</xs:schema>
